#Buscaminas{
    animation: slideInLeft;
    animation-duration: 1s;
}
#Buscaminas:hover img{
    animation: bounce;
    animation-duration: 1s;
}

#Snake{
    animation: slideInRight;
    animation-duration: 1s;
}
#Snake:hover img{
    animation: rotateOut;
    animation-duration: 1s;
}
#T2048{
    animation: slideInLeft;
    animation-duration: 1s;
}
#T2048:hover img{
    animation: wobble;
    animation-duration: 1s;
}

.gameCard:hover{
    animation:bounce;
    animation-duration: 500ms;
}

#loginUser{
    animation: slideInDown;
    animation-duration: 1s;
}